<div class="user-profile pull-right">
  <div class="user-pic">
    <a href="#/" class="thumbnail">
      <img src="images/avatar.png" alt="user">
    </a>
  </div>

  <div class="user-todo">
    <div class="profile-text">
      View
      <b class="profile-name">Demo</b>
      <b>'s</b>
      profile
      <br>
      & access private lockrs
    </div>

    <div class="btn-group user-login">
      <button type="button" style="  padding: 3px 12px;" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Demo &nbsp;<span class="caret"></span>
      </button>
      <div class="dropdown-menu" role="menu">
          <span>access private lockr</span>
          <div class="clearfix" style=" padding: 5px 18px;font-size: 16px;color: #14a2dd;">
            <a href="#" class="pull-left">Login</a>
            <span class="pull-left" style="padding: 0 10px;">|</span>
            <a href="#" class="pull-left">Sign up</a>
          </div>
      </div>
    </div>
  </div>

</div>
